@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-item {
    @apply hover:opacity-70 duration-300 active:opacity-100;
  }
  .width-80 {
    @apply w-[80%] mx-auto;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

* {
  scroll-behavior: smooth;
  margin: 0;
}

.bg-header {
  background: linear-gradient(to right, #000000, rgb(27, 48, 55));
}

.arrow-right {
  position: absolute;
  top: 10px;
  left: 52px;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
}

.arrow-right span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(90deg);
  animation: animate 2s infinite;
}

.arrow-right span:nth-child(2) {
  animation-delay: 0.2s;
}

.arrow-right span:nth-child(3) {
  animation-delay: 0.4s;
}

.bg-BluePurple {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(3, 235, 255) 0%,
    rgb(152, 70, 242) 100.2%
  );
}

.bg-HeaderMenu {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.bg-banner {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blue-gradient {
  background: #00f2fe;
  background: linear-gradient(-90deg, #00f2fe 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #00f2fe 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.changeColor-circle {
  animation: changeColor 4s infinite;
}

.up-down {
  animation: upDown 2s infinite;
}

.text-light {
  animation: textLight 5s linear infinite;
}

.hero-img {
  animation: rotate 5s linear 2s infinite alternate;
}

.loadingPage {
  background-color: #60d7ec;
  height: 100px;
  width: 100px;
  position: absolute;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
  border-radius: 10%;
  animation: loader_rotate 5.6s linear infinite;
  transform-origin: center;
}

.shape1,
.shape2,
.shape3,
.shape4 {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  position: absolute;
  top: 25px;
  left: 25px;
}

.shape1 {
  background-color: #ff8fcf;
  animation: shape1 2.8s infinite;
}

.shape2 {
  background-color: #00c2ba;
  animation: shape2 2.8s infinite;
}

.shape3 {
  background-color: #ce96fb;
  animation: shape3 2.8s infinite;
}

.shape4 {
  background-color: #037a90;
  animation: shape4 2.8s infinite;
}

.glitch {
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.glitch::before {
  color: #f0f;
  animation: glitch 3s infinite;
}
.glitch::after {
  color: #0ff;
  animation: glitch 2s infinite;
}

@keyframes textLight {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #2d2d2e;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff,
      0 0 160px #0ff;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(5px, 5px);
  }
}

@keyframes changeColor {
  0% {
    background-color: #00f2ffd3;
    box-shadow: 1px 2px 50px 10px #00f2fe;
  }
  50% {
    background-color: #86f8fe;
    box-shadow: 1px 2px 50px 16px #00f2fe;
  }
  100% {
    background-color: #00f2fe;
    box-shadow: 1px 2px 50px 16px #00f2fe;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes loader_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shape1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px) rotate(360deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shape2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px) rotate(360deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shape3 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-100px) rotate(360deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shape4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px) rotate(360deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes glitch {
  0% {
    left: -2px;
    top: 1px;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0;
  }
  25% {
    left: 2px;
    top: -1px;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0;
  }
  50% {
    left: -2px;
    top: 1px;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0;
  }
  75% {
    left: 2px;
    top: -1px;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0;
  }
  100% {
    left: -2px;
    top: 1px;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0;
  }
}
