@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-item {
    @apply hover:opacity-70 duration-300 active:opacity-100
  }
  .width-80 {
    @apply w-[80%] mx-auto
  }
  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-between {
    @apply flex justify-between items-center
  }
}

.arrow-right {
  position: absolute;
  top: 10px;
  left: 52px;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
}

.arrow-right span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(90deg);
  animation: animate 2s infinite;
}

.arrow-right span:nth-child(2) {
  animation-delay: 0.2s;
}

.arrow-right span:nth-child(3) {
  animation-delay: 0.4s;
}

.bg-BluePurple {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(3, 235, 255) 0%,
    rgb(152, 70, 242) 100.2%
  );
}

.bg-HeaderMenu {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(5px, 5px);
  }
}
